
<main>
  <% @users.each do |user| %>
	<%= user.first_name %>
	<%= user.last_name %>
	<%= user.email %>
	<%= user.password %>
	<%= user.age %>
	<%= user.female_male %>
	<%= user.postal_code %>
	<%= user.address %>
	<%= user.tel %>
	<%= link_to '編集', edit_user_path(user) %>
	<%= link_to '削除', user_path(user), method: :delete %>
  <% end %>
</main>
 