<div class="main">
<div class="main-user">
<div class="container">  
   <h1>新規登録</h1>
      <%= flash[:notice] %>
        <%= form_with model: @user do |f| %>
          <div><%= f.label :'e-mail', class:"label-new"  %> <%= f.text_field :email, :placeholder =>"e-mail", class: "field-new", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'password', class:"label-new"  %> <%= f.text_field :password, :placeholder =>"password", class: "field-new", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'姓', class:"label-new" %> <%= f.text_field :first_name, :placeholder =>"姓", class: "field-new", size: 50 , style: "border: none"%></div>
          <div><%= f.label :'名', class:"label-new"  %> <%= f.text_field :last_name, :placeholder =>"名", class: "field-new", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'年齢', class:"label-new"  %> <%= f.text_field :age, class: "field-new", :placeholder =>"年齢", size: 50 , style: "border: none" %><div>
          <div><%= f.label :'郵便番号', class:"label-new"  %> <%= f.text_field :postal_code, class: "field-new", :placeholder =>"郵便番号", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'住所', class:"label-new"  %> <%= f.text_field :address, class: "field-new", :placeholder =>"住所", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'電話番号', class:"label-new"  %> <%= f.text_field :tel, class: "field-new", :placeholder =>"tel", size: 50 , style: "border: none" %></div>
          <div><%= f.label :'性別' , class:"label-new" %> <%= f.radio_button :female_male, "男", class:"radio" %> 男 <%= f.radio_button :female_male, "女", class:"radio" %> 女<div>
          <div><%= f.submit "新規登録", class:"btm" %></div>
        <% end %>
  </div>     
  </div>
  </div>
      