<main>
  <%= form_with url:products_path, method: :get, local: true do |f|  %>
    <%= f.select :status, options_for_select(Product.statuses.keys) %>
    <%= f.select :variety, options_for_select(Product.varieties.keys) %>
    <%= f.submit "search" %>
  <% end %>
 
  <% @products.each do |product| %>
　  <tr>
	<td><%= product.user_id %></td><!-- 最後に消す -->
	<td><%= product.status %></td>
	<td><%= product.variety %></td>
	<td><%= product.name %></td>
	<td><%= product.price %></td>
	<td><%= product.limited_number %></td>
	<td><%= product.first_time %></td>
	<td><%= product.last_time %></td>
	<%= image_tag product.photo.to_s %>
	<td><%= product.comment %></td>
	<td><%= link_to "商品詳細ページ", product_path(product) %></td>
   </tr>
  <% end %>
</main>
