 <h1>商品登録</h1>
 <%= flash[:notice] %>
 <%= form_with model: @product do |f| %>  
 <div><%= f.label :'status' %></div>
 <% Product.statuses.each do |status| %>
 <div><%= f.label ("enums.products.status#{status[0]}")%></div>
 <div><%= f.radio_button :status, status[0,1]%></div>
 <% end %>
 <div><%= f.label :'variety' %></div>
 <% Product.varieties.each do |variety| %>
 <div><%= f.label ("enums.products.variety#{variety[0]}")%></div>
 <div><%= f.radio_button :variety, variety[0,1]%></div>
 <% end %>
 <div><%= f.label :'商品名' %></div>
 <div><%= f.text_field :name %></div>
 <div><%= f.label :'価格' %></div>
 <div><%= f.text_field :price %></div>
 <div><%= f.label :'数量' %></div>
 <div><%= f.text_field :limited_number %></div>
 <div><%= f.label :'掲載期間' %></div>
 <div><%= f.text_field :first_time %></div>
 <div><%= f.text_field :last_time %></div>
 <div><%= f.label :'写真' %></div>
 <div><%= f.file_field :photo %></div>
 <div><%= f.label :'コメント' %></div>
 <div><%= f.text_field :comment %></div>  
 <div><%= f.submit "商品登録" %></div>
 <% end %>
 <div><%= link_to "トップページ", products_path %></div>
 
 